Buoi3/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Phần tử gốc -->
    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <!-- Mỗi order -->
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <!-- Mỗi product -->
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="quantity" type="xs:integer"/>
                                    </xs:sequence>
                                    <!-- id sản phẩm -->
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- id order duy nhất trong toàn bộ tài liệu -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>

                    <!-- Ràng buộc id sản phẩm phải duy nhất trong phạm vi order -->
                    <xs:unique name="UniqueProductID">
                        <xs:selector xpath="product"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
