Buoi3/order_product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="orders">
        <xs:complexType>
            <xs:sequence>
                <!-- Mỗi order -->
                <xs:element name="order" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="customer" type="xs:string"/>
                            <!-- Danh sách product -->
                            <xs:element name="product" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                    <xs:attribute name="price" type="xs:decimal" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <!-- id của order là duy nhất toàn tài liệu -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>

                    <!-- Ràng buộc: id của product duy nhất trong từng order -->
                    <xs:unique name="UniqueProductID">
                        <xs:selector xpath="product"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
