Buoi3/student_unique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <!-- Danh sách sinh viên -->
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="id" type="xs:string"/>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="date" type="xs:date"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Ràng buộc id của mỗi student phải duy nhất -->
        <xs:unique name="UniqueStudentID">
            <xs:selector xpath="student"/>
            <xs:field xpath="id"/>
        </xs:unique>
    </xs:element>

</xs:schema>
