Buoi3/student_ID.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Khai báo phần tử gốc -->
    <xs:element name="school">
        <xs:complexType>
            <xs:sequence>
                <!-- Mỗi student có thể lặp lại nhiều lần -->
                <xs:element name="student" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="date" type="xs:date"/>
                        </xs:sequence>
                        <!-- Ràng buộc id phải duy nhất bằng xs:ID -->
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
