Buoi4/student_key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="date" type="xs:date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="enrollment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="studentRef" type="xs:string"/>
              <xs:element name="course" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="TenKhoaChinh">
      <xs:selector xpath="student"/>
      <xs:field xpath="id"/>
    </xs:key>
    <xs:keyref name="TenKhoaNgoai" refer="TenKhoaChinh">
      <xs:selector xpath="enrollment"/>
      <xs:field xpath="studentRef"/>
    </xs:keyref>
  </xs:element>
</xs:schema>